.b-rating {
	.slider {
		display: block;
		width: 100%;
	}
	label {
		font-weight: 300;
	}
}
.b-rating--category-desc {
	margin-top: 3px;
	border-top: 1px solid #efefef;
	padding-top: 3px;
}
.b-rating--mark-text {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 22px;
	font-weight: 700;
	font-size: 35px;
}