.b-intro {
	background: url(../images/main-bg3.jpg) no-repeat center top;
	min-height: 320px;

}

.b-header {
	padding-top: 0;
	background-color: #fff;
	margin-bottom: 32px;
}

.page-in-override {
	text-align: right;
}

.b-player {
	margin-top: 10px;
	audio, video {
		width: 100%;
	}
	video {
		height: 600px;
	}
}

.b-news-item__main {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;

	&:last-child {
		border-bottom: 0;
	}
}

.b-news-item--date {
	font-size: .9em;
	color: #555;
}

.b-news-item--title {
	margin: 0 0 10px;
	font-size: 14px;
}

.participant-index, .work-index {
	padding: @grid-gutter-width;
}

.b-img-preview {
	margin-bottom: @grid-gutter-width;
	 img {
		 max-width: 100%;
		 height: auto;
	 }
}

.grid-view {
	margin-top: @grid-gutter-width/2;
}

.photo-preview {
	display: inline-block;
	vertical-align: top;
	width: percentage(1/3);

	> .blog-main {
		margin: @grid-gutter-width/2;
	}
}