//@import "bootstrap.min.css";
//@import "font-awesome.min.css";
//@import "animate.min.css";
//@import "site/et-line.less";
//@import "jcarousel.responsive.css";
@import "bootstrap/bootstrap.less";

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400);

/*------------------------------------------------------------------
1. Reset styles / Wordpress classes

2. Wrapper
    2.1 Logo / Boxed Mode

3. Main Menu / Header

4. Main Styles
    4.1 Servecis shortcodes
    4.2 Portfolio shortcodes
    4.3 Blog Section

5. Widgets / Button

6. Other Shortcodes

//7. WooCommerce

8. Footer / #footer

9. Other style

10. Style Switcher
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Reset styles / Wordpress classes]
*/
.alignnone {
	margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p {
	line-height: 1.7;
	font-size: 14px;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
}

/*------------------------------------------------------------------
[2. Body / Wrapper ]
*/
body {
	background: #fafafa
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 10px #b4b4b4 !important;
	color: #444;
	font-size: 14px;
	font-weight: 300;
	font-family: Roboto, 'Open Sans', Arial, sans-serif;
	overflow: hidden;
	line-height: 1.75;
}

.dankovteam-wrapper-boxed {
	width: 1200px
}

.dankovteam-wrapper-boxed .sticky {
	left: auto;
	width: 1200px;
}

a,
button,
input[type="submit"] {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Roboto Slab, 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
	color: #444;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
	outline: 0 !important
}

.animated-area {
	overflow: hidden
}

.marg25 {
	margin-top: 25px
}

.marg30 {
	margin-top: 30px
}

.marg50 {
	margin-top: 50px
}

.marg75 {
	margin-top: 75px
}

.marg100 {
	margin-top: 100px
}

.marg125 {
	margin-top: 125px
}

.marg150 {
	margin-top: 155px
}

/*------------------------------------------------------------------
[2.2 Logo / Boxed Mode ]
*/


.logo {
	margin-top: 10px;
	display: inline-block;
	margin-right: @grid-gutter-width/2;
}

/*------------------------------------------------------------------
[3.0 Menu ]
*/
nav {
	position: relative;
	left: 0px;
	z-index: 99999 !important;
	width: 100%;
	background: #fff;
}

.sticky {
	position: fixed;
	background: rgba(255, 255, 255, 0.95);
}

.menu ul ul {
	width: auto !important
}

.menu ul ul li {
	width: 100%
}

.menu ul li.sub li {
	width: 140px;
	border-left: 1px dotted #eee;
}

.menu {
	float: right
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li {
	position: relative;
	float: left;
}

.menu ul li ul {
	left: 0px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 110%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.menu ul li:hover ul {
	display: inline-block;
	visibility: visible;
	top: 100%;
	opacity: 1;
}

.menu ul li:hover ul,
.menu ul li li:hover ul,
.menu ul li li li:hover ul {
	display: inline-block;
	visibility: visible;
	opacity: 1;
	top: 100%;
}

.menu ul li a {
	padding: 20px 13px;
	color: #444;
	text-decoration: none;
	font-weight: 300;
	font-size: 14px;
	display: block;
	border-top: 2px solid transparent;
	transition: border 0.15s linear;
}

.menu li a:hover {
	outline: none;
	border-color: #F44336;
	text-decoration: none;
}

.menu ul ul {
	background: #ffffff
}

.menu ul li ul li a {
	padding: 8px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	color: #444 !important;
	font-weight: normal;
	font-size: 13px;
	font-weight: 300;
	-webkit-backface-visibility: hidden;
}

.menu ul li ul li:first-child a {
	border-top: 1px solid #F44336
}

.menu ul li ul li:first-child a:hover {
	border-top: 1px solid #F44336
}

.menu ul li ul {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.menu ul li ul li a:hover {
	background-color: #fafafa;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

nav.sticky .logo {
	margin-top: 14px
}

nav.sticky ul li a {
	padding: 21px;
	font-weight: 300;
	font-size: 14px;
}

nav.sticky ul li a:before {
	content: ''
}

.dl-trigger {
	display: none
}

.dl-back {
	display: none
}

.menu ul ul ul {
	top: 0px !important;
	left: 180px;
	margin-top: -1px !important;
	border-left: 1px solid #eee;
}

.menu ul li ul li ul {
	visibility: hidden !important
}

.menu ul li ul li:hover ul {
	visibility: visible !important
}

/*------------------------------------------------------------------
[4.0 Promo Title ]
*/
.promo-block {
	display: table;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;
}

.promo-text {
	text-align: center;
	font-size: 31px;
	font-weight: 300;
	display: inline-block;
	-webkit-backface-visibility: hidden;
	font-family: Roboto Slab, sans-serif;
}

.promo-text-light {
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	padding-left: 31px;
	padding-right: 30px;
	display: inline-block;
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 15px;
	-webkit-backface-visibility: hidden;
}

.center-line {
	width: 5px;
	margin: auto;
	height: 1px;
	background: #F44336;
	margin-top: 10px;
	position: relative;
	width: 50px;
}

.promo-text-footer {
	font-size: 19px;
	font-weight: 300;
	color: #fff;
	padding-bottom: 15px;
}

.promo-paragraph {
	padding: 0;
	text-align: center;
	margin-top: 15px;
}

/*------------------------------------------------------------------
[4.1 Servecis shortcodes]
*/
.hi-icon {
	font-size: 44px;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #F44336;
	margin: auto;
	display: table;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.hi-icon-effect:hover .hi-icon {
	color: #fff;
	background: #F44336;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.service-name {
	text-align: center;
	font-size: 21px;
	font-weight: 300;
	font-family: Roboto Slab, sans-serif;
}

.service-name:after {
	content: "";
	width: 50px;
	position: relative;
	border-bottom: 1px solid #eee;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

.service-text {
	text-align: center;
	font-weight: 300;
	margin-top: 15px;
}

/*------------------------------------------------------------------
[4.2 Portfolio shortcodes]
*/
.container-color {
	background-color: #f7f7f7;
	padding: 35px 0 50px;
}

.portfolio-search {
	border: 1px solid #fff;
	text-align: center;
	margin-top: -24px;
	padding: 4px;
	border-radius: 2px;
	padding-top: 2px;
	color: #fff;
}

.portfolio-item {
	list-style: none;
	padding: 0;
}

.portfolio-search i {
	font-size: 20px
}

.portfolio-search:hover {
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
}

.portfolio-attach {
	border: 1px solid #fff;
	text-align: center;
	margin-top: -24px;
	padding: 4px;
	border-radius: 2px;
	padding-top: 2px;
	color: #fff;
	margin-right: 47px;
}

.portfolio-attach i {
	font-size: 20px
}

.portfolio-attach:hover {
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
}

.btn-simple {
	border: 1px solid #eee !important;
	color: #444 !important;
	border-radius: 1px;
	background: #fff;
	font-size: 13px !important;
	padding: 10px 20px !important;
	display: inline-block;
	margin-top: 35px;
	font-weight: 300 !important;
	line-height: 20px !important;
	min-width: inherit !important;
	text-decoration: none;
}

.btn-simple:hover {
	background: #f7f7f7;
	text-decoration: none;
	color: #444;
}

.btn-simple:focus {
	text-decoration: none
}

.cbp-l-inline {
	padding: 0px 0;
	margin-bottom: 30px;
	background: #fff;
}

.cbp-l-inline-left {
	width: 40% !important
}

.cbp-l-inline-left img {
	height: auto
}

.cbp-l-inline-right {
	width: 60%;
	padding: 15px 30px;
}

.cbp-l-inline-desc a {
	margin-top: 15px
}

.cbp-popup-singlePageInline .cbp-popup-close {
	top: -9px !important;
	outline: none;
}

.cbp-popup-singlePageInline .cbp-popup-navigation {
	top: 24px !important
}

.cbp-popup-wrap {
	z-index: 99999 !important
}

.cbp-popup-lightbox .cbp-popup-next {
	outline: none
}

.cbp-popup-lightbox .cbp-popup-prev {
	outline: none
}

.btn-blog:hover {
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
	text-decoration: none;
}

.cbp-l-inline {
	margin-top: 0px
}

.cbp-l-filters-button .cbp-filter-item {
	background-color: #FFF;
	border: 1px solid #eee;
	border-radius: 0px;
	color: #444;
	cursor: pointer;
	font: 300 13px/29px Roboto, sans-serif;
	margin-right: 5px;
	overflow: visible;
	padding: 0 15px;
	position: relative;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	display: block;
	float: left;
	outline: none;
	margin-top: -3px;
}

.cbp-l-filters-button .cbp-filter-item-active {
	background-color: #F44336;
	color: #fff !important;
	border-color: #F44336;
}

.cbp-l-filters-button .cbp-filter-counter {
	background-color: #F44336;
	border-radius: 2px;
	color: #fff;
	font: 300 11px/18px Roboto, sans-serif;
	margin: 0 auto;
	padding: 4px 0;
	text-align: center;
	width: 34px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-ms-filter: "alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: opacity .25s linear, bottom .25s linear;
	-moz-transition: opacity .25s linear, bottom .25s linear;
	-o-transition: opacity .25s linear, bottom .25s linear;
	transition: opacity .25s linear, bottom .25s linear;
}

.cbp-l-filters-button .cbp-filter-counter:before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #F44336;
	visibility: hidden;
}

.portfolio-item li {
	padding: 7px 0;
	border-bottom: 1px solid #eee;
	color: #444;
	font-weight: 300;
}

.portfolio-item-text {
	color: #444;
	font-weight: 300;
}

.cbp-caption-zoom .cbp-caption-activeWrap {
	background-color: rgba(0, 192, 227, 0.8)
}

.cbp-l-caption-title {
	color: #fff;
	font: 400 18px/18px sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

.cbp-l-caption-desc {
	color: #ddd;
	font: 400 13px/16px sans-serif;
	text-align: center;
}

.portfolio-dankovteam {
	background: #fff;
	text-align: center;
}

.portfolio-dankovteam.inside {
	background: #f7f7f7
}

.dankov-shortcode-portfolio-grid.portfolio-grey .portfolio-dankovteam {
	background: #f7f7f7
}

.portfolio-image {
	background: #000;
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.portfolio-image img {
	opacity: 1;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.portfolio-dankovteam:hover .portfolio-image img {
	opacity: 0.5;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.portfolio-dankovteam .portfolio-hover {
	top: auto;
	bottom: 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	position: absolute;
	width: 100%;
	height: 150px;
}

.portfolio-dankovteam p.icon-links {
	position: relative;
	right: 50%;
	margin: 0 -75px;
}

.portfolio-dankovteam p.icon-links a {
	float: right;
	text-align: center;
	display: inline-block;
	width: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border-radius: 50%;
	margin: 0 5px;
}

.portfolio-dankovteam p.icon-links a i {
	color: #444;
	font-size: 20px;
	line-height: 50px;
}

.portfolio-dankovteam p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

.portfolio-dankovteam:hover .portfolio-hover,
.portfolio-dankovteam:hover p.icon-links a {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.portfolio-dankovteam:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.portfolio-dankovteam:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.portfolio-dankovteam:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.portfolio-dankovteam h2 {
	margin: 0px;
	font-size: 21px;
	padding: 15px 15px 10px 15px;
	display: inline-block;
}

.portfolio-dankovteam p {
	padding: 0px 15px 15px 15px;
	margin: 0;
}

.prl-1 {
	background: url(../images/parallax.jpg) 100% 100% fixed;
	color: #fff;
	min-height: 260px;
	height: 100%;
}

.prlx {
	background: rgba(255,255,255,.85);
	color: #000;
	min-height: 260px;
	max-height: 100%;
}

/*------------------------------------------------------------------
[4.3 Blog Section]
*/
.page-in {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fff;
	//min-height: 100px;
	//line-height: 100px;
}

.page-in-name {
	font-size: 23px;
	font-weight: 100;
	padding: 15px 0;
}

.page-in-name h1 {
	font-size: 23px;
	font-weight: 100;
	display: inline;
}

.page-in-name span {
	color: #F44336
}

.page-in-bread {
	float: right;
	font-weight: 300;
	line-height: 30px;
	font-size: 12px;
	line-height: 100px;
}

.page-in-bread span {
	font-size: 12px
}

.page-in-bread a {
	color: #F44336;
	display: inline-block;
}

.about-text {
	line-height: 1.7;
	font-size: 14px;
	font-weight: 300;
}

.first-letter {
	font-size: 21px;
	color: #fff;
	border-radius: 2px;
	float: left;
	background: #F44336;
	padding: 3px 9px;
	margin-top: 3px;
	margin-right: 10px;
}

.list-check {
	margin-top: 17px
}

.list-check li {
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
}

.list-check li i {
	color: #F44336;
	font-size: 16px;
	padding-right: 5px;
}

.blog-name {
	float: left;
	font-weight: 300;
	-webkit-backface-visibility: hidden;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

.blog-name a {
	font-size: 19px;
	color: #444;
	font-weight: 300;
	font-family: Roboto Slab, sans-serif;
}

.blog-name a:hover {
	color: #F44336;
	text-decoration: none;
}

.blog-desc {
	float: left;
	color: #999;
	font-size: 12px;
	-webkit-backface-visibility: hidden;
	width: 100%;
	text-align: center;
}

.blog-desc a {
	color: #999;
	text-transform: capitalize;
}

.blog-desc a:hover {
	text-decoration: underline
}

.post-thumbnail {
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.post-thumbnail .single-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.post-thumbnail:hover .single-item {
	opacity: 1
}

.post-thumbnail img {
	z-index: 0;
	width: 100%;
	height: 250px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.post-thumbnail:hover img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.post-thumbnail .single-action span {
	display: inline-block;
	margin: 0 2px;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	font-size: 38px;
	line-height: 50px;
}

.post-thumbnail .single-action span > a {
	display: block;
	color: inherit;
	font-weight: normal;
}

.post-thumbnail .single-action span {
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%;
	z-index: 2;
	visibility: hidden;
	margin: -25px 0 0 -25px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transform: scale();
	-moz-transform: scale();
	-ms-transform: scale();
	-o-transform: scale();
	transform: scale();
}

.post-thumbnail:hover .single-action span {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.cl-blog-img {
	display: inline-block;
	width: 100%;
}

.sticky-lou.has-post-thumbnail .cl-blog-img:before {
	content: "\e02d";
	color: #F44336;
	font-size: 18px;
	display: inline-block;
	font-family: 'et-line';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	top: 5px;
	left: 20px;
}

.sticky-lou {
	position: relative;
}

.sticky-lou:before {
	content: "\e02d";
	color: #F44336;
	font-size: 18px;
	display: inline-block;
	font-family: 'et-line';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgba(255, 255, 255, 0.5);
	width: 40px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 99999;
	padding-bottom: 22px;
}

.sticky-lou.has-post-thumbnail:before {
	background: none;
	content: "";
}

.blog-category {
	padding: 0px;
}

.blog-category li {
	list-style: none;
}

.cl-blog-img img {
	width: 100%
}

.medium-blog .cl-blog-naz {
	margin-top: 0px
}

.medium-blog.has-post-thumbnail .cl-blog-text {
	width: 390px
}

.medium-blog .cl-blog-text {
	width: 390px
}

.cl-blog-naz {
	margin-top: 20px;
	display: inline-block;
}

.cl-blog-name {
	padding-left: 75px;
	font-size: 19px;
	font-weight: 300;
	font-family: roboto;
}

.cl-blog-name a {
	color: #565656;
	display: inline-block;
}

.medium-blog {
	display: inline-block;

}

.cl-blog-name a:hover {
	color: #F44336;
	text-decoration: none;
}

.cl-blog-type {
	float: left;
	color: #F44336;
	font-size: 37px;
	border-right: 1px solid #eee;
	padding-right: 10px;
}

.cl-blog-detail {
	margin-left: 75px;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 300;
	color: #999;
}

.cl-blog-detail a {
	color: #777;
	display: inline-block;
}

.cl-blog-text {
	float: left;
	margin-top: 15px;
	margin-left: 75px;
	line-height: 1.6;
	color: #444;
	font-weight: 300;
	width: 773px;
}

.cl-blog-read {
	border: 1px solid #eee;
	float: left;
	padding: 8px 12px;
	border-radius: 2px;
	font-weight: 300;
	margin-left: 75px;
	margin-top: 20px;
}

.cl-blog-read a {
	color: #444;
	display: inline-block;
}

.cl-blog-read a:hover {
	color: #F44336;
	text-decoration: none;
}

.cl-blog-line {
	width: 100%;
	border-top: 1px solid #eee;
	float: left;
	margin: 50px 0;
}

.pride_pg {
	float: left
}

.pride_pg .current {
	padding: 5px 10px;
	border-radius: 2px;
	color: #F44336;
	font-size: 12px;
	border: 1px solid #F44336;
	font-weight: 300;
	margin-right: 3px;
}

.pride_pg a {
	padding: 5px 10px;
	border-radius: 2px;
	color: #444;
	text-decoration: none;
	border: 1px solid #eee;
	font-size: 12px;
	font-weight: 300;
	margin-right: 3px;
}

.pride_pg a:hover {
	color: #F44336;
	border: 1px solid #F44336;
}

.car_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
	font-size: 30px;
}

.promo-text-blog:first-child {
	margin-top: -5px
}

.promo-text-blog {
	font-size: 18px;
	font-weight: 300;
	color: #444;
	padding-bottom: 15px;
	margin-top: 30px;
}

.blog-search {
	border: 1px solid #eee;
	padding: 7px 10px;
	width: 100%;
	color: #444;
	font-weight: 300;
	outline: none;
}

.blog-category li {
	border-bottom: 1px solid #eee;
	padding: 7px 0;
}

.blog-category li i {
	color: #F44336;
	font-size: 18px;
}

.blog-category li a {
	color: #444;
	display: inline-block;
	font-weight: 300;
	padding-left: 5px;
}

/*------------------------------------------------------------------
[5.0 Widgets/ Button]
*/
.widget ul {
	list-style: none;
	padding: 0;
}

.footer-widget ul {
	list-style: none;
	padding: 0;
}

.widget ul {
	list-style: none;
	padding: 0;
}

.widget ul li {
	padding: 7px 0;
	font-weight: 300;
}

.widget ul li a {
	color: #444;
	display: inline-block;
	font-weight: 300;
}

.widget ul li > a:before {
	content: "\f105";
	color: #F44336;
	font-size: 18px;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-right: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.recentcomments:before {
	content: "\f105";
	color: #F44336;
	font-size: 18px;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-right: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.widget-title {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
	color: #444;
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.footer .widget-title {
	color: #fff;
	border-bottom: none;
}

.widget select {
	width: 100%;
	font-weight: 300;
}

.widget select {
	width: 100%;
	font-weight: 300;
}

.widget input {
	border: 1px solid #eee;
	padding: 7px 10px;
	width: 100%;
	color: #444;
	font-weight: 300;
	outline: none;
}

#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.846153846;
	color: #444;
	font-weight: 300;
}

#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left
}

#wp-calendar #next {
	padding-right: 24px;
	text-align: right;
}

.widget-area .widget ul ul {
	margin-left: 12px
}

.widget_rss li {
	margin: 12px 0
}

.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	display: block;
	padding: 5px 0;
}

.recentcomments a {
	color: #F44336 !important
}

.recentcomments a:before {
	content: '' !important;
	padding-right: 0 !important;
}

.tagcloud a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #eee;
	border-radius: 2px;
	margin-right: 5px;
	margin-bottom: 8px;
	color: #444;
	font-weight: 300;
	font-size: 13px !important;
}

.widget_nav_menu .menu {
	float: none
}

.rsswidget {
	color: #444
}

.rsswidget:before {
	content: '' !important;
	padding-right: 0 !important;
	color: #F44336 !important;
}

.widget-title .rsswidget {
	color: #444
}

.rsswidget {
	color: #F44336 !important
}

.widget {
	margin: 0 0 50px 0;
	display: inline-block;
	width: 100%;
}

.tweet_list a {
	color: #F44336 !important
}

.widget_primary-social-buttons ul li a:before {
	content: '' !important;
	padding-right: 0 !important;
}

.widget_primary-social-buttons ul li a {
	color: rgba(50, 50, 50, 0.2)
}

.widget_primary-social-buttons ul li {
	font-size: 21px;
	margin-right: 7px;
	float: left;
	line-height: 35px;
	border: none !important;
	padding: 0px;
}

.footer-widget select {
	padding: 5px;
	background: #fff;
	width: 100%;
}

.footer-widget a {
	font-weight: 300;
	color: #fff;
	opacity: 1;
}

.footer-widget {
	font-weight: 300;
	opacity: 0.8;
	color: #fff;
	padding-top: 30px;
}

.footer-widget ul li {
	padding: 7px 0;
	border-bottom: 1px solid #555;
}

.footer-widget ul li a {
	display: inline-block
}

.footer-widget input {
	border: 1px solid #555;
	padding: 7px 10px;
	width: 100%;
	color: #444;
	font-weight: 300;
	outline: none;
}

.widget_PhoenixTeam_flickr .flickr_widget_wrapper a {
	display: block;
	position: relative;
	z-index: 10;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer-widget .tagcloud a {
	color: #444;
	background: rgba(50, 50, 50, 0.1);
	display: block;
	float: left;
	font-size: 13px;
	line-height: 1;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 6px 10px;
	font-weight: 300;
	border-radius: 2px;
	border: none;
}

.footer-widget .tagcloud a:hover {
	background: rgba(50, 50, 50, 0.2);
	color: #444;
	text-decoration: none;
}

.text-widget {
	color: #444;
	font-weight: 300;
}

.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tweet_list li {
	position: relative;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-top: 10px;
}

.tweet_text a {
	color: #F44336
}

.tweet_list li:first-child {
	margin-top: 0px
}

.tweet_list li:last-child {
	border: none !important;
	padding-bottom: 0px;
}

.loading {
	font-weight: 300;
	color: #444;
}

.tweet_text {
	font-weight: 300;
	color: #444;
}

.tags-blog {
	padding: 0px
}

.tags-blog li {
	display: inline-block;
	padding: 3px 8px;
	border: 1px solid #eee;
	margin-right: 5px;
	margin-bottom: 8px;
}

.tags-blog li a {
	color: #444;
	font-weight: 300;
}

.tags-blog li a:hover {
	color: #F44336;
	text-decoration: none;
}

.tags-blog-single {
	display: inline-block
}

.tags-blog-single ul {
	padding: 0px
}

.blog-single .cl-blog-text {
	width: 100%;
}

.author-bio {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}

.img-author {
	float: left
}

.img-author img.img_comm {
	float: none;
	width: auto;
	height: auto;
	border-radius: 0;
	margin: 0;
}

.name-author {
	display: inline-block;
	font-size: 19px;
	font-weight: 300;
	margin-left: 20px;
}

.name-author a {
	color: #444
}

.text-author {
	margin-left: 100px;
	font-weight: 300;
	margin-top: 5px;
	font-size: 12.5px;
}

.soc-blog {
	float: right;
	list-style: none;
	padding: 0;
}

.soc-blog li {
	float: left;
	font-size: 17px;
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 2px;
	margin-right: 5px;
}

.soc-blog li a {
	color: #797979
}

.soc-blog li a:hover {
	color: #F44336
}

.soc-blog-single {
	display: inline-block;
	float: right;
}

.comm_name {
	font-size: 16px;
	color: #F44336;
	font-weight: 300;
}

.comm_name span {
	font-size: 11px;
	color: #444;
}

.com_top {
	padding-top: 15px
}

.comm {
	margin-top: 25px;
	display: block;
	font-size: 20px;
	font-weight: 300;
	color: #444;
	margin-bottom: 30px;
}

.text_cont {
	font-weight: 300
}

.comment {
	padding: 30px 0;
	float: left;
	width: 100%;
}

.comment-inner {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 130px;
	float: left;
}

.img_comm {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-right: 50px;
}

.children {
	margin-left: 75px
}

.cl-blog-line-com {
	width: 100%;
	border-top: 1px solid #eee;
	float: left;
	margin: 25px 0;
}

.input-def {
	border: 1px solid #eee;
	padding: 7px 10px;
	width: 50%;
	margin-bottom: 10px;
	outline: none;
}

.form-submit input {
	font-size: 13px;
	font-weight: 300;
	border-radius: 2px;
	border: 1px solid #eee;
	outline: none !important;
	display: inline-block;
	background-color: #fff;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	padding: 6px 12px;
	line-height: 1.428571429;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.comment-respond {
	display: inline-block;
	width: 100%;
}

.comment-reply-title {
	padding-bottom: 15px
}

.input-def-textarea {
	border: 1px solid #eee;
	padding: 5px 10px;
	width: 65%;
	margin-bottom: 10px;
	outline: none;
}

.btn-default {
	border-radius: 2px;
	border: 1px solid #eee;
	font-weight: 300;
	font-size: 13px;
	outline: none !important;
}

.btn-default:hover {
	background: rgba(230, 230, 230, 0.5);
	border: 1px solid #eee;
}

.introduction img {
	max-width: 100%
}

.intro-name {
	font-size: 21px;
	text-align: center;
	padding: 15px 0 8px 0;
	font-weight: 300;
}

.intro-desc {
	font-weight: 300;
	text-align: center;
	color: #777;
}

.about-us img {
	max-width: 100%
}

.about-name {
	font-size: 18px;
	font-weight: 300;
	padding-top: 10px;
	text-align: center;
}

.about-desc {
	font-weight: 300;
	color: #444;
	font-size: 13px;
	text-align: center;
}

.about-texts {
	margin-top: 15px;
	color: #999;
	font-weight: 300;
	line-height: 1.6;
	font-size: 14px;
}

.about-desc span {
	margin-top: 10px;
	display: block;
	font-size: 13px;
	font-weight: 300;
}

.prog-name {
	display: inline;
	font-size: 15px;
	font-weight: 300;
}

.prog-per {
	float: right;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
}

.progress-per {
	display: inline
}

.progress {
	height: 25px;
	background-color: #fff;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 5px;
	margin-bottom: 30px;
}

.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 25px;
}

.soc-about {
	margin-top: 10px;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	display: table;
	margin: 10px auto 10px auto;
}

.soc-about li {
	float: left;
	font-size: 25px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #fff;
	margin: 0px 5px;
}

.soc-about li a {
	color: #999
}

.soc-about li a:hover {
	color: #F44336
}

.fact-icon {
	text-align: center;
	color: #F44336;
	font-size: 50px;
}

.fact-numb {
	text-align: center;
	font-size: 27px;
}

.fact-name {
	margin-top: 7px;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.progress-bar-info {
	background-color: #F44336
}

.clients div span {
	float: left
}

.clients div span a {
	opacity: 0.6
}

.clients div span a:hover {
	opacity: 0.9
}

.clients div span img {
	max-width: 95%
}

.serv-marg {
	margin-top: 20px
}

.serv-marg i {
	color: #F44336;
	font-size: 15px;
}

.serv-testim {
	margin-top: 0px;
	padding: 0px;
}

.serv-author {
	color: #444;
	margin-bottom: -10px;
}

.serv-icon {
	float: left;
	font-size: 33px;
	display: inline-block;
}

.serv-icon i {
	color: #F44336
}

.serv-name {
	line-height: 57px;
	font-weight: 300;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.serv-desc {
	font-weight: 300;
	margin: 0;
}

.other-serv {
	margin-bottom: 30px
}

.serv-block-list {
	margin-left: 50px
}

.input-cont {
	border: 1px solid #eee;
	padding: 7px 10px;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
}

.input-cont-textarea {
	border: 1px solid #eee;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
}

.soc-contacts {
	margin: 0px
}

.soc-contacts li {
	font-size: 23px;
	margin-right: 7px;
	float: left;
	line-height: 35px;
}

.soc-contacts li a {
	color: rgba(50, 50, 50, 0.3);
	display: inline-block;
}

.soc-contacts li a:hover {
	color: rgba(50, 50, 50, 0.6);
	text-decoration: none;
}

/*------------------------------------------------------------------
[6.0 Other Shortcodes]
*/
.main_pad {
	padding: 60px 0 130px 0;
	text-align: center;
	margin-top: 50px;
}

.oops {
	font-size: 125px;
	font-weight: 300;
	color: #F44336;
}

.main_pad p {
	font-size: 18px;
	font-weight: 300;
}

.ac-container {
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}

.ac-container label {
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #444;
	font-weight: 300;
	line-height: 33px;
	background: #ffffff;
	font-weight: 300;
	font-size: 14px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.ac-container div:last-child label {
	border-bottom: 1px solid #eee
}

.ac-container label:hover {
	background: #f7f7f7;
	color: #F44336;
	transition: color 400ms;
	-webkit-transition: color 400ms;
	-moz-transition: color 400ms;
	-o-transition: color 400ms;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
	background: #f7f7f7;
	color: #F44336;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
	background-image: url(../img/arrow_up.png)
}

.ac-container input {
	display: none
}

.ac-container article {
	margin-top: -5px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s linear, box-shadow 0.6s linear;
	-moz-transition: height 0.3s linear, box-shadow 0.6s linear;
	-o-transition: height 0.3s linear, box-shadow 0.6s linear;
	-ms-transition: height 0.3s linear, box-shadow 0.6s linear;
	transition: height 0.3s linear, box-shadow 0.6s linear;
}

.ac-container article p {
	color: #444;
	line-height: 23px;
	padding: 20px;
	font-weight: 300;
}

.ac-container input:checked ~ article {
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.ac-container input:checked ~ article.ac-small {
	height: 140px
}

.ac-container input:checked ~ article.ac-medium {
	height: 180px
}

.ac-container input:checked ~ article.ac-large {
	height: 230px
}

.ac-container div:last-child input:checked ~ article {
	border: 1px solid #eee
}

.plan .price span {
	display: block;
	font-weight: 300;
	font-size: 11px;
	margin-top: 0px;
	color: #c0c0c0;
}

.plan .signup {
	padding: 20px 0px;
	text-align: center;
	border-top: 1px solid #f2f2f2;
	border-bottom: 3px solid #f6f6f6;
}

.plan ul {
	margin: 0 !important;
	list-style: none !important;
	padding: 0 !important;
	background: #ffffff;
	font-weight: 300;
}

.plan li {
	font-size: 12px;
	padding: 10px 0px;
	text-align: center;
	background: #f7f7f7;
}

.plan {
	text-align: center;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	margin-right: -30px;
}

.plan:hover {
	background: #f7f7f7;
	border: 5px solid #eee !important;
	margin-left: -5px;
	margin-top: -4px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.featured {
	background: #fcfcfc;
	border: 5px solid #eee !important;
	margin-left: -5px;
	margin-top: -4px;
}

.plan h3 {
	font-weight: 400;
	font-size: 16px;
	padding: 20px 0 10px 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}

.plan.featured h3 {
	font-size: 16px;
	color: #F44336;
	border-bottom: none;
}

.plan .price {
	display: block;
	font-size: 54px;
	line-height: 38px;
	font-weight: 300;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #eee;
}

.plan.featured .signup {
	border-top: 1px solid #f2f2f2
}

.two_plan {
	background: #fff !important
}

.plan li:last-child {
	background: none
}

.pricing-table .plan:first-child {
	border-left: 1px solid #eee !important
}

.plan.featured .price {
	color: #F44336
}

.btn-price {
	color: #fff;
	background-color: #F44336;
	border-color: #F44336;
	font-weight: 300;
}

.btn-price:hover {
	color: #F44336;
	background-color: #fff;
	border-color: #F44336;
}

.shortcode_tabs .all_heads_cont {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 5;
	padding-bottom: 1px;
}

.shortcode_tab_item_title {
	border: #eee 1px solid;
	border-bottom: none;
	margin: 50px 5px 0 0;
	min-height: 18px;
	display: inline-block;
	float: left;
	padding: 13px 15px;
	line-height: 18px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	position: relative;
	background: #fff;
	transition: color 400ms;
	-webkit-transition: color 400ms;
	-moz-transition: color 400ms;
	-o-transition: color 400ms;
	font-weight: 300;
}

.all_body_cont {
	background: #fff;
	border: 1px solid #eee;
	margin-top: -2px;
	display: block;
	padding: 20px;
	line-height: 23px;
}

.shortcode_tab_item_body.active {
	display: block
}

.shortcode_tab_item_body h4 {
	margin-top: 10px
}

.shortcode_tab_item_body {
	display: none
}

.shortcode_tab_item_body {
	display: none
}

.shortcode_tab_item_title.active {
	background: #f7f7f7;
	border-bottom: 1px solid #eee;
	color: #F44336;
}

.shortcode_tab_item_title:hover {
	background: #f7f7f7;
	color: #F44336;
}

.alert {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: 300;
}

.tooltip_s {
	color: #F44336
}

.tooltip_s:hover {
	color: #F44336
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #eee
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 1px solid #eee
}

.table-bordered {
	border: 1px solid #eee
}

.btn-lg {
	font-size: 18px !important;
	border-radius: 2px;
}

.btn {
	font-size: 13px;
	font-weight: 300;
	border-radius: 2px;
}

.btn-sm {
	font-size: 12px !important;
	border-radius: 2px;
}

.btn-xs {
	font-size: 12px !important;
	border-radius: 2px;
}
/*
.btn-primary {
	background-color: #F44336;
	border: none;
	outline: none;
}

.btn-success {
	background-color: #5cb85c;
	border: none;
	outline: none;
}

.btn-warning {
	background-color: #f0ad4e;
	border: none;
	outline: none;
}

.btn-danger {
	background-color: #d9534f;
	border: none;
	outline: none;
}*/

.btn-violet {
	background-color: #9C52B9;
	border: none;
	color: #fff;
	outline: none;
}

.btn-violet:hover {
	background-color: #894CA2;
	color: #fff;
}

.btn-brown {
	background-color: #AA9570;
	border: none;
	color: #fff;
	outline: none;
}

.btn-brown:hover {
	background-color: #998665;
	border: none;
	color: #fff;
}

blockquote {
	font-weight: 300;
	font-size: 16px;
	margin: 25px 0px;
	border-left: 3px solid #eee;
}

blockquote footer,
blockquote small,
blockquote .small {
	margin-top: 5px
}

.font_icons {
	font-size: 16px;
	color: #444;
	line-height: 1.9;
	font-weight: 300;
}

.cbp-popup-singlePageInline .cbp-popup-close {
	/* background: transparent !important */
}

.cbp-popup-singlePageInline .cbp-popup-close:before {
	overflow: hidden;
	color: #CDCDCD;
	content: "";
	font-size: 28px;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	top: -5px;
	position: relative;
}

.error {
	display: none
}

.success {
	display: none
}

.text_otz {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-left: 100px;
	padding-top: 1px;
	padding: 10px;
	font-weight: 300;
	background: url(../ig/arrow_tes.png) no-repeat;
}

.auth {
	float: left
}

.after_otz {
	margin-left: 100px;
	margin-top: 5px;
	font-weight: 300;
}

.after_otz b {
	font-weight: 400
}

.text_otz span {
	background: url(../img/arrow_tes.png) no-repeat;
	width: 9px;
	height: 9px;
	float: left;
	margin-left: -19px;
	margin-top: 5px;
}

.otz {
	margin-bottom: 35px
}

.otz:last-child {
	margin-bottom: 0px
}

.auth img {
	border-radius: 2px;
	width: 82px;
}

.testimonials {
	text-align: center
}

.testimonials .carousel-indicators .active {
	background: rgba(255, 255, 255, 0.5);
	border: solid 1px rgba(255, 255, 255, 0.7);
	cursor: default;
	width: 9px;
	height: 9px;
	margin: 1px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.testimonials .carousel-indicators li {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.7);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.testimonials .carousel-indicators li:hover {
	background: rgba(255, 255, 255, 0.5);
	border: solid 1px rgba(255, 255, 255, 0.7);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.testimonials .item {
	margin-bottom: 60px
}

.testimonials p.testimonial-quote {
	font-size: 19px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 25px;
	padding: 0 100px;
	margin-top: 25px;
	line-height: 1.6;
}

.testimonials .carousel-control.left,
.testimonials .carousel-control.right {
	background-image: none
}

.testimonials .carousel-control {
	color: #fff;
	text-shadow: none;
	margin: 0;
	font-size: 50px;
	width: 0%;
	top: 15%;
	font-weight: 100;
}

.carousel-indicators li {
	border-radius: 2px
}

.testimonials p.testimonial-author {
	text-align: center;
	font-family: roboto;
	font-size: 14px;
	color: #eee;
}

.testimonials .carousel-indicators {
	bottom: 5px
}

.testimonials-photo {
	display: inline-block;
	float: left;
}

.testimonials-photo img {
	border-radius: 50%;
	width: 75px;
}

.testimonials-name h4 {
	padding: 0;
	display: inline-block;
	font-size: 20px;
	margin-top: 0;
}

.container-fullwidth .testimonials-name h4 {
	margin-top: 10px
}

.testimonials-desc {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.testimonials-desc p {
	padding: 0;
	margin: 0;
}

.testimonials-text {
	margin-left: 105px
}

.testimonials-block {
	padding: 0px;
	margin-bottom: 25px;
	border-bottom: 1px solid #eee;
	padding-bottom: 25px;
}

.testimonials-main .testimonials-block {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
	border-bottom: none;
}

.soc-media {
	background: #444;
	border-bottom: 1px solid #555;
}

.soc-more {
}

.soc-more a {
	text-align: center;
	padding: 20px 0;
	border-left: 1px solid #555;
	width: 100%;
	display: inline-block;
}

.soc-medeia-footer:last-child .soc-more a {
	border-right: 1px solid #555
}

.soc-more i {
	font-size: 46px;
	color: #fff;
	opacity: 0.8;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.soc-more:hover i {
	opacity: 1;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.soc-medeia-footer {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	padding: 0;
}

.soc-medeia-footer:hover {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.soc-medeia-footer.facebook:hover {
	background: #3b5998
}

.soc-medeia-footer.vk:hover {
	background: #507299
}

.soc-medeia-footer.twitter:hover {
	background: #55acee
}

.soc-medeia-footer.googleplus:hover {
	background: #dd4b39
}

.soc-medeia-footer.dribbble:hover {
	background: #ea4c89
}

.soc-medeia-footer.linkedin:hover {
	background: #0976b4
}

.soc-medeia-footer.rss:hover {
	background: #f26522
}

.soc-medeia-footer.youtube:hover {
	background: #e52d27
}

.about-us-h2 h2 {
	margin-top: 5px
}

.team-block {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.carousel-indicators li {
	display: inline-block;
	width: 9px;
	height: 9px;
}

.twitter-main {
	height: 100px;
	background: #f7f7f7;
	border-top: 1px solid #eee;
}

.twit-icon i {
	line-height: 70px;
	font-size: 40px;
}

.dankovteam-twitter-slider-wrapper .loading {
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	line-height: 70px;
	margin: 0px;
}

.dankovteam-twitter-slider-wrapper .paginat {
	line-height: 70px;
	font-size: 30px;
	font-weight: 100;
	color: #fff;
	margin-top: -3px;
}

.paginat a {
	color: #fff;
	cursor: pointer;
	margin-right: 5px;
}

.paginat a:hover {
	color: #fff;
	text-decoration: none;
}

.dankovteam-twitter-slider-wrapper .tweet_list li {
	position: relative;
	line-height: 70px;
	border-bottom: none;
	padding-bottom: 0px;
	margin-top: 0px;
	height: 70px !important;
}

.dankovteam-twitter-slider-wrapper .tweet_list a {
	color: #fff !important;
	text-decoration: underline;
}

.dankovteam-er-slider-wrapper .tweet_text {
	font-weight: 300;
	color: #fff;
}

.post-format-quote-author {
	text-align: right
}

.wp-link-pages-container {
	margin-top: 25px;
	margin-left: 60px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.post-video {
	display: inline-block;
	width: 100%;
}

.PhoenixTeam-progerssbar .vc_single_bar {
	height: 25px;
	background-color: #eee !important;
	margin-bottom: 30px !important;
	box-shadow: 0 0 !important;
}

.PhoenixTeam-progerssbar .vc_bar {
	border-radius: 2px 0 0 2px !important
}

.PhoenixTeam-progerssbar .vc_label {
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	text-shadow: 0 0 !important;
}

.PhoenixTeam-progerssbar .vc_single_bar.bar_turquoise .vc_bar {
	background-color: #F44336 !important
}

.PhoenixTeam-progerssbar-outside .vc_single_bar {
	height: 25px;
	background-color: #eee !important;
	margin-bottom: 55px !important;
	box-shadow: 0 0 !important;
	margin-top: 26px;
}

.PhoenixTeam-progerssbar-outside .vc_bar {
	border-radius: 2px 0 0 2px !important
}

.PhoenixTeam-progerssbar-outside .vc_label {
	position: absolute;
	width: 100%;
	top: -30px;
	font-size: 15px;
	display: inline-block;
	font-weight: 300;
	color: #444 !important;
	text-align: left;
	line-height: 15px;
	text-shadow: 0 0 !important;
	padding-left: 0 !important;
}

.PhoenixTeam-progerssbar-outside .vc_label .vc_label_units {
	position: absolute;
	right: 0;
}

.PhoenixTeam-progerssbar-outside .vc_single_bar.bar_turquoise .vc_bar {
	background-color: #F44336 !important
}

.wpb_alert {
	padding: 10px 10px 10px 25px !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.PhoenixTeam-message-box.wpb_alert-info .messagebox_text,
.PhoenixTeam-message-box.wpb_alert-warning .messagebox_text,
.PhoenixTeam-message-box.wpb_alert-success .messagebox_text,
.PhoenixTeam-message-box.wpb_alert-danger .messagebox_text {
	background: 0 none;
	position: relative;
	padding-left: 10px;
}

.PhoenixTeam-message-box.wpb_alert-info .messagebox_text i.fa,
.PhoenixTeam-message-box.wpb_alert-warning .messagebox_text i.fa,
.PhoenixTeam-message-box.wpb_alert-success .messagebox_text i.fa,
.PhoenixTeam-message-box.wpb_alert-danger .messagebox_text i.fa {
	position: absolute;
	left: -13px;
	top: 3px;
}

.PhoenixTeam-message-box.wpb_alert-info button,
.PhoenixTeam-message-box.wpb_alert-warning button,
.PhoenixTeam-message-box.wpb_alert-success button,
.PhoenixTeam-message-box.wpb_alert-danger button {
	position: relative;
	z-index: 10;
}

.vc_progress_bar .vc_bar {
	background-color: #F44336 !important
}

.vc_progress_bar .vc_single_bar {
	background: #fff !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	margin-bottom: 15px !important;
}

.vc_progress_bar .vc_single_bar.bar_red .vc_label {
	text-shadow: none !important
}

.vc_progress_bar .vc_single_bar .vc_label {
	padding: 0.2em 1em !important
}

.wpb_row {
	margin-bottom: 0px !important
}

.tp-caption .largebutton {
	color: #fff;
	display: block;
	background: rgba(255, 255, 255, 0.25);
	padding: 8px 13px;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #fff;
	border-radius: 0px;
}

.tp-caption .largebutton:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.35);
	text-decoration: none;
}

.menu-main-menu-container > ul > li.active > a,
.menu-main-menu-container > ul > li.active > a {
	border-top: 2px solid #F44336
}

.flickr_badge_image {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
	float: none !important;
}

.footer-widget.widget_PhoenixTeam_flickr .flickr_widget_wrapper a {
	width: 90px;
	height: 90px;
	margin: 0;
}

.footer-widget .contact-footer li {
	position: relative
}

.widget_primary-twitter .tweet_list li {
	position: relative
}

.widget_primary-twitter .tweet_text li span a {
	color: #fff !important;
	text-decoration: underline;
}

.widget_primary-twitter .tweet_text {
	font-weight: 300;
	color: #fff;
}

.prev-next-links-wrapper {
	margin-top: 30px
}

.comments h3 {
	width: 100%;
	display: inline-block;
}

.comments {
	width: 100%;
	display: inline-block;
}

.wpb_gmaps_widget .wpb_wrapper {
	background-color: #fff !important;
	padding: 0px !important;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
	margin: 0 !important
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
	padding: 1em;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.wpb_content_element .wpb_accordion_header a {
	border-bottom: none;
	text-decoration: none;
	display: block;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #444;
	font-weight: 300;
	line-height: 33px;
	border: 1px solid #eee;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
	padding-left: 20px !important
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
	background-color: #fff !important
}

.wpb_accordion_section:last-child .wpb_accordion_header a {
	border-bottom: 1px solid #eee !important
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
	outline: 0 !important
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
	display: none !important
}

.wpb_accordion_header.ui-accordion-header-active a {
	color: #F44336 !important;
	background: #f7f7f7 !important;
}

.wpb_accordion_header.ui-state-hover a {
	color: #F44336 !important;
	background: #f7f7f7 !important;
}

.list-check {
	list-style: none;
	padding: 0;
}

.footer-no-widgets {
	font-size: 13px;
	color: #fff;
	padding: 15px 0;
	opacity: 0.8;
}

.testauthor-rating ul {
	list-style: none;
	padding: 0;
}

.bxslider {
	list-style: none;
	padding: 0;
}

.PhoenixTeam-page-layout .container-in-container {
	width: 100%;
	margin: auto;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.PhoenixTeam-page-layout .container-fullwidth {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/*------------------------------------------------------------------
[8.0 Footer]
*/
.footer {
	background: #444;
//	min-height: 300px;
	max-height: 100%;
	width: 100%;
	margin-bottom: -7px;
	font-size: 13px;
	margin-top: 65px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: inline-block;
}

.footer-widget .soc-footer li {
	padding: 0;
	border: none;
}

.contact-footer span, .contact-composer span {
	padding-left: 10px
}

.contact-composer li {
	padding: 7px 0;
	font-weight: 300;
	list-style: none;
}

.contact-footer contact-composer li i {
	color: #fff;
}

.contact-footer li i {
	font-size: 14px
}

.contact-composer li a {
	color: #fff
}

.contact-composer li i {
	font-size: 16px;
	width: 20px;
	color: #444;
	opacity: 1;
	position: relative;
	left: 2px;
}

.contact-footer li i {
	color: #fff
}

.begin-content .contact-composer li i {
	color: #444
}

.tags-footer li a {
	color: #444;
	background: rgba(50, 50, 50, 0.1);
	display: block;
	float: left;
	font-size: 13px;
	line-height: 1;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 6px 10px;
	font-weight: 300;
	border-radius: 2px;
}

.tags-footer li a:hover {
	background: rgba(50, 50, 50, 0.2);
	color: #444;
	text-decoration: none;
}

.flickr_widget_wrapper a {
	display: block;
	float: left;
	width: 65px;
	height: 65px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.flickr_widget_wrapper a .flickr_border {
	display: block;
	position: absolute;
	z-index: 15;
	left: 0;
	top: 0;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.flickr_widget_wrapper:hover .flickr_badge_image {
	opacity: 0.3;
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;
}

.flickr_widget_wrapper .flickr_badge_image {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.flickr_widget_wrapper:hover .flickr_badge_image:hover {
	opacity: 1;
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;
}

.soc-footer {
	margin: 0px
}

.soc-footer li {
	font-size: 21px;
	margin-right: 7px;
	float: left;
	line-height: 35px;
}

.soc-footer li a {
	color: rgba(50, 50, 50, 0.2);
	display: inline-block;
}

.soc-footer li a:hover {
	color: rgba(50, 50, 50, 0.5);
	text-decoration: none;
}

.footer-bottom {
	border-top: 1px solid #555;
	margin-top: 40px;
	line-height: 38px;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	opacity: 0.8;
	/* display: inline-block; */
	/* width: 100%; */
}

.footer-bottom a {
	color: #fff
}

.foot_menu {
	float: right
}

.foot_menu ul {
	margin: 0px
}

.foot_menu ul li {
	float: left;
	padding-left: 5px;
	list-style: none;
}

.foot_menu ul li a {
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
}

.foot_menu ul li a:hover {
	text-decoration: underline
}

.foot_menu li:after {
	content: " "
}

.foot_menu li:not(:last-of-type):after {
	padding-left: 5px;
	content: "|";
}

.footer-ad {
	text-align: center;

	> img, > a > img {
		.img-responsive(inline-block);
		vertical-align: middle;
		max-width: 200px;
		margin: 0 15px;
	}
}

.quote {
	text-align: center
}

.quote i {
	font-size: 43px;
	color: #fff;
}

.flexslider {
	position: relative
}

.copyright {
	display: block
}
.elustro-copyright {
	text-align: right;
}


#reset {
	position: absolute;
	margin-top: -26px;
	margin-left: 168px;
	padding: 0 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #ccc;
	color: #444;
	font-weight: 400;
	font-size: 10px;
	font-weight: 300;
}

/*------------------------------------------------------------------
[9.0 Other]
*/
/* Gallery small fix */
.wpb_wrapper .gallery-item {
	float: left
}

.wpb_wrapper .gallery {
	overflow: hidden;
	width: 100%;
}

.oi_cat_count {
	float: right
}

/*------------------------------------------------------------------
[10.0 Style Switcher]
*/
#style-switcher {
	position: fixed;
	top: 20%;
	z-index: 99999999;
	color: #fff;
}

#switcher-head {
	position: relative;
	margin: 0;
	padding-left: 20px;
	width: 270px;
	height: 40px;
	background-color: rgba(56, 63, 68, 0.9);
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	cursor: pointer;
	font-weight: 300;
}

#switcher-head:before {
	position: absolute;
	left: 234px;
	overflow: hidden;
	color: #fff;
	content: '\e02b';
	font-size: 22px;
	font-family: "et-line";
	-webkit-font-smoothing: antialiased;
}

#switcher-content {
	overflow: hidden;
	padding: 0px 0 0px 0px;
	width: 228px;
	background-color: rgba(56, 63, 68, 0.78);
}

#switcher-content .el {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top: 1px solid #414141;
	border-bottom: 1px solid #232323;
}

#switcher-content select {
	width: 100%;
	height: 23px;
	outline: none;
	border: 1px solid #EDEDED;
	background-color: #ffffff;
	color: #353535;
	font-size: 13px;
	font-weight: 300;
}

#switcher-content .sub-head {
	margin-bottom: 10px
}

#switcher-content ul {
	overflow: hidden;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0px;
}

#switcher-content li {
	float: left;
	margin: 0 8px 6px 0;
	list-style-type: none;
}

#switcher-content img {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

#switcher-content {
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	moz-border-bottom-right-radius: 6px;
}

#switcher-content form {
	margin: 0
}

.color-default {
	background: #d2d1d0
}

.switcher strong {
	color: inherit
}

.switcher-head span {
	margin-left: 15px
}

.switcher-body {
	position: relative;
	padding: 15px;
}

.switcher-trigger {
	position: absolute;
	top: 0;
	right: -40px;
	left: auto;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	background-color: #333;
	text-align: center;
	font-size: 24px;
}

.switcher ul.switcher-op-selectors {
	margin: 0 -5px -5px 0
}

ul.switcher-op-selectors li a {
	float: left;
	margin-top: 1px;
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

.button_switch li a {
	float: left;
	padding: 6px 16px;
	background: #99cc66;
	color: #f1f1f1;
	font-weight: 100;
	font-size: 14px;
	font-weight: 300;
}

.button_switch li a.active {
	background: #f1f1f1;
	color: #99cc66;
}

.button_switch li a:hover {
	background: #f1f1f1;
	color: #99cc66;
	text-decoration: none;
}

.star {
	font-size: 10px;
	font-weight: 300;
}

.section {
	font-weight: 300
}

.hr-swith {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #999;
}

.button-center {
	display: table;
	margin: auto;
}

.btn-item {
	padding: 5px 10px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ddd;
	color: #444;
	margin-top: 15px;
	display: inline-block;
	font-weight: 300;
}

.btn-item:hover {
	color: #F44336;
	text-decoration: none;
}

.item-heart {
	display: table;
	margin: auto;
	margin-top: 16px;
}

.item-heart i {
	color: #F44336;
	font-size: 20px;
}

.item-heart i:hover {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 1px;
	cursor: pointer;
}

.wpb_single_image img {
	width: 100%;
}

.portfolio-image {
	float: none;
}

/* Transparent menu layout related CSS */
#nav-container nav.sticky {
	background: rgba(255, 255, 255, 0.95) !important;
}

.tp-caption.mediumlightwhitecustom, .mediumlightwhitecustom {
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	font-family: "Roboto";
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none
}

.tp-caption.largeborder, .largeborder {
	width: 300px;
	background-color: transparent;
	text-decoration: none;
	border-width: 1px 0px 0px 0px;
	border-color: rgb(255, 255, 255) rgb(34, 34, 34) rgb(34, 34, 34) rgb(34, 34, 34);
	border-style: solid none none none
}

.tp-caption.largeboldwhitecustom, .largeboldwhitecustom {
	font-size: 76px;
	line-height: 60px;
	font-weight: 400;
	font-family: "Roboto Slab";
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none
}

.tp-caption.largeboldwhitecustomdot, .largeboldwhitecustomdot {
	font-size: 72px;
	line-height: 60px;
	font-weight: 800;
	font-family: "Open Sans";
	color: rgb(244, 67, 54);
	text-decoration: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none
}

.tp-caption.largeboldwhitecustom1, .largeboldwhitecustom1 {
	font-size: 54px;
	line-height: 60px;
	font-weight: 400;
	font-family: "Roboto Slab";
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: transparent;
	border-width: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none
}

.stats-top .aio-icon-top, .stats-top .stats-desc {
	width: 100%;
	display: block;
	text-align: center;
}

.aio-icon.none {
	display: inline-block;
	font-size: 32px;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1em;
}

@stats-color: #2a92ff;

.aio-icon {
	color: @stats-color;
	font-size: 40px;
	display: inline-block;
}

.stats-number {
	font-size: 50px;
	color: @stats-color;
}

.stats-text {
	font-size: 21px;
	color: @stats-color;
	font-weight: 700;
}

.stats-top .stats-number {
	padding: 10px 0 5px 0;
	display: inline-block;
	font-weight: 300;
	line-height: 1.3em;
	font-size: 50px;
	color: @stats-color;
}

.stats-block .stats-text {
	font-size: 21px;
	width: 100%;
	font-family: Roboto Slab;
}

.aio-icon.none {
	display: inline-block;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1em;

	color: @stats-color;
	font-size: 40px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.progress-bar {
	text-align: left;
	background-color: #F44336;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 15px;
}

@import "vars.less";
@import "layout.less";
@import "responsive.less";
@import "site/login.less";
@import "site/rating.less";
@import "social-likes/flat.less";
@import "magnific-popup/magnific-popup.less";
